// This File is imported last, and will override other styles in the cascade
// Add styles here to make changes without digging in too much
h3{color:#9A3085; border-left:16px solid #1A6606;padding-left:0.4em;padding-bottom:0.1em;}
h4{margin-left:2em;}
.para{text-indent:2em;}
#article:first-letter{text-indent:0em;font-size:2em;font-weight:bold;float:left;line-height:120%;}
body,div,p,h1,h2,h3,h4,h5,h6{font-family: "微软雅黑","Microsoft YaHei","黑体", serif;}
.laiyuan{font-size:0.8em;color:gray;line-height:100%}
ol{margin-left:4em;}
ul{margin-left:2em;}
p{margin-top:0.2em;margin-bottom:0.2em;}
h3{margin-top:1em;margin-bottom:0.6em;}
.dk{border-left:10px solid #8ee655;margin: 0.9em 2em; padding-left:6px;text-indent:0em;color:gray;font-size:0.95em;}
.mytable{border:1px solid #666;padding:6px;text-align: center;font-size:0.8em;}
.mytableb{border:1px solid #666;padding:6px;text-align:left;font-size:0.8em;}